<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <title>VideoGraph</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <img id="logo" src="/img/logo_royal.png" alt="">
        <ul class="nav-items">
            <li class="nav-links"><a href="">Home</a></li>
            <li class="nav-links"><a href="">About</a></li>
            <li class="nav-links"><a href="">Portfolio</a></li>
            <li class="nav-links"><a href="">Services</a></li>
            <li class="nav-links"><a href="">Pages</a></li>
            <li class="nav-links"><a href="">Contact</a></li>
        </ul>
        <div class="social">
            <a href=""><img class="social-logo" src="/img/meta-logo.png" alt=""></a>
            <h3 class="logo-text">FB</h3>
            <a href=""><img class="social-logo" src="/img/insta_logo_neon-circled.png" alt=""></a>
            <a href=""><img class="social-logo" src="/img/linkedin-logo.png" alt=""></a>
            <a href=""><img class="social-logo" src="/img/twitter_logo.png" alt=""></a>
        </div>
    </nav>
    <!-- Banner -->
    <div class="banner">
        <div class="banner-text">
            <p>Hello, I am</p>
        </div>
        <div class="banner-text">
            <h1>Carla Johnson</h1>
        </div>
        <div class="banner-text">
            <p id="banner-below">An Industrial Photographer</p>
        </div>
    </div>
    
</body>

</html>